**/__pycache__/
work_dirs/
my-configs/*
!my-configs/coco2017_fasterrcnn_dinov3.py
!my-configs/coco2017_maskrcnn_dinov3.py
scripts/*
!scripts/example.train.sh
!scripts/example.test.sh
detection/configs/maskdino/*
!detection/configs/maskdino/maskdino_r50_8x2_50e_coco_instance.py
!detection/configs/maskdino/maskdino_r50_50e_coco_panoptic.py
!detection/configs/maskdino/maskdino_vit_adapter_base_50e_coco_instance.py
